@model PresetacionMVC.Models.RegistroUsuarioViewModel

@{
    ViewData["Title"] = "Registro";
}

<h1>Registro</h1>

<h4>RegistroUsuarioViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Registro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Usuario.Alias" class="control-label"></label>
                <input asp-for="Usuario.Alias" class="form-control" />
                <span asp-validation-for="Usuario.Alias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Password" class="control-label"></label>
                <input asp-for="Usuario.Password" class="form-control" type="password" />
                <span asp-validation-for="Usuario.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClaveConfirmada" class="control-label"></label>
                <input asp-for="ClaveConfirmada" class="form-control" type="password" />
                <span asp-validation-for="ClaveConfirmada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
